.container {
    width: 400px;
    height: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .tabs button {
    padding: 10px;
    margin: 5px;
    border: none;
    background: #f0f0f0;
    cursor: pointer;
    color: black;
  }
  .tabs .active {
    background: #007bff;
    color: white;
  }
  .section {
    margin-top: 15px;
  }
  .checkbox-group {
    display: flex;
    align-items: center;
    margin-top: 5px;
  }
  .buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    bottom: 20px;
  }
  
  .back {
    background: 007bff;
  }
  .next {
    background: #007bff;
    color: white;
  }
  
  .smallInput {
    width: 50px; /* Adjust width as needed */
    padding: 5px;
    text-align: center;
  }
  